@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}
.invalid-feedback {color: red;}
.btn-primary {
    @apply bg-primary inline-block text-black rounded-md px-4 py-2 border border-transparent
    hover:border hover:text-primary hover:border-primary hover:bg-transparent
    transition ease-in-out duration-150;
}
.btn-secondary {
    @apply bg-transparent inline-block text-primary rounded-md px-4 py-2 border border-primary
    hover:bg-primary hover:border-transparent hover:text-black
    transition ease-in-out duration-150;
}
.heading-2 {
    @apply text-5xl font-bold;
}
.heading-3 {
    @apply text-4xl font-bold;
}
.form-input {
    @apply w-full py-2 text-base text-black border-gray-300 mt-1 rounded focus:border-gray-300 focus:outline-none focus:ring-0;
}
.slide-content {
    @apply flex flex-col gap-5 text-xl text-white;
}
.slide-title {
    @apply text-5xl font-bold text-white;
}

.footer-title {
    @apply text-xl font-bold mb-4;
}
.links a {
    @apply py-1 block hover:text-gray-700;
}
