@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}
.container {
    @apply mx-auto px-4;
}
.invalid-feedback {color: red;}
.btn-primary {
    @apply bg-primary inline-block text-white rounded-md px-4 py-2 border border-transparent
    hover:border hover:text-primary hover:border-primary hover:bg-transparent
    transition ease-in-out duration-300;
}
.btn-secondary {
    @apply bg-transparent inline-block text-primary rounded-md px-4 py-2 border border-primary
    hover:bg-primary hover:border-transparent hover:text-white
    transition ease-in-out duration-300;
}
.btn-danger {
    @apply bg-secondary inline-block text-white text-sm rounded px-2 py-1
    hover:bg-primary hover:border-transparent hover:text-white
    transition ease-in-out duration-300;
}
.btn-full {
    @apply bg-primary w-full text-white py-4 px-10 text-xl font-medium rounded-md
    hover:bg-secondary
    transition ease-in-out duration-150;
}
.nav-link {
    @apply flex justify-between items-center px-4 py-4 text-black text-base cursor-pointer
    hover:bg-[#F4F4F4]
    transition ease-in-out duration-300;
}
.nav-link svg {
    @apply w-6 h-6 text-gray-500;
}
.nav-link:hover svg {
    @apply text-primary;
}
.heading-2 {
    @apply text-5xl font-bold;
}
.heading-3 {
    @apply text-4xl font-bold;
}
.heading-4 {
    @apply text-3xl font-semibold;
}
.heading-5 {
    @apply text-xl font-semibold;
}
.heading-title {
    @apply border-b border-gray-300 pb-2 mb-4;
}
.form-input {
    @apply w-full min-h-12 py-2 text-base text-black border-gray-300 rounded focus:border-primary focus:ring-primary;
}
.select2.select2-container {
    @apply !w-full;
}
.select2.select2-container--default .select2-selection--single, .select2.select2-container--default .select2-selection--multiple {
    @apply border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 rounded-md shadow-sm block w-full py-1.5 min-h-12;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    @apply !leading-[34px];
}
.select2.select2-container--default .select2-selection--single:focus, .select2.select2-container--default .select2-selection--multiple:focus {
    @apply border-2 border-primary ring-primary focus:border-primary focus:ring-primary;
}
.select2.select2-container--default .select2-selection--single .select2-selection__arrow {
    @apply h-12;
}
.swiper .swiper-button-prev,
.swiper .swiper-button-next {
    @apply opacity-0 transition duration-500 ease-in-out;
}
.swiper:hover .swiper-button-prev,
.swiper:hover .swiper-button-next {
    @apply opacity-100;
}
.slide-prev:after,
.slide-next:after{
    @apply text-white;
}
input[disabled] {
    @apply bg-primary text-primary border-primary bg-opacity-10 cursor-not-allowed;
}
.iti {
    @apply w-full;
}
.not-found {
    @apply my-4 text-3xl font-semibold text-red-500 text-center;
}
.slide-content {
    @apply flex flex-col gap-5 text-xl text-white;
}
.slide-title {
    @apply text-5xl font-bold text-white;
}
.footer-title {
    @apply text-xl font-bold mb-4;
}
.links a {
    @apply py-1 block hover:text-gray-700;
}
.table {
    @apply w-full;
}
.table tr {
    @apply border border-gray-200;
}
table th {
    @apply border-r;
}
.table td, .table th {
    @apply py-3 px-2 text-left space-x-3;
}
.price {
    @apply font-bold text-2xl text-black;
}
div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
    @apply !bg-primary text-white;
}

/* Admin CSS */
.profile-link {
    @apply block text-[#B9BEC7] font-bold text-lg border-s-4 border-[#B9BEC7] px-2 py-3 rounded
    hover:text-primary hover:border-primary hover:bg-white hover:shadow-2xl
}
.profile-link.active {
    @apply text-primary border-primary bg-white shadow-2xl;
}
